@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
body{
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
}
/*Home*/
.Home img{
  width: 100%;
  object-fit: cover;
}
.Home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home > div{
  width: 80%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.Home > div h1{
  color: #FE1936;
}
.Home > div h2{
  font-size: 1rem;
  color: #302F2F;
}
.Home > div form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Home > div form input{
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border: none;
  outline: none;
}
.Home > div form button{
  padding: 10px;
  background-color: #D93F3F;
  color: #fff;
  border: none;
}
.ornament-home{
  position: absolute;
  bottom: 0;
  left: 0;
}
/*Pokedex*/
.ornament-pokedex{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-pokedex{
  width: 40%;
  position: absolute;
  top: 10px;
  left: 30px;
}
.Pokedex{
  width: 100%;
  min-height: 100vh;
  padding: 70px 10px 0;
}
.Pokedex h2{
  font-size: 1.2rem;
  text-align: center;
}
.Pokedex h2 span{
  color: #FE1936;
}
.search{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.search-for-name{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.search-for-name input{
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border: none;
  outline: none;
}
.search-for-name button{
  padding: 10px;
  background-color: #D93F3F;
  color: #fff;
  border: none;
}
.search-for-type{
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  padding: 10px;
  color: #302F2F;
  border: none;
}